version: '3.9'

services:
  db-user:
    image: postgres:15
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: user_db
    volumes:
      - postgres_user_data:/var/lib/postgresql/data
    networks:
      - app-network

  db-product:
    image: postgres:15
    environment:
      POSTGRES_USER: product
      POSTGRES_PASSWORD: productpass
      POSTGRES_DB: product_db
    volumes:
      - postgres_product_data:/var/lib/postgresql/data
    networks:
      - app-network

  user-service:
    build: ./user-service
    ports:
      - "5000:5000"
    environment:
      DATABASE_URL: postgresql://user:password@db-user:5432/user_db
    depends_on:
      - db-user
    networks:
      - app-network

  product-service:
    build: ./product-service
    ports:
      - "8080:8080"
    environment:
      DATABASE_URL: postgresql://product:productpass@db-product:5432/product_db
    depends_on:
      - db-product
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  postgres_user_data:
  postgres_product_data:
